@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --midBlue: #1E90FF;
  --darkBlue: #156FDB;
  --deepBlue: #20222D;
  --midPurple: #9C81FE;
  --darkPurple: #8685FF;
  --midGreen: #008000;
  --darkGreen: #006100;
  --midRed: #FF0000;
  --darkRed: #CF0000;
  --midGrey: #939393;
  --darkGrey: #393939;
  --almostWhite: #f0f0f0;
  --onyxBlack: #0f0f0f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background: var(--almostWhite);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}


@media (prefers-color-scheme: dark) {
  html, body {
    background: var(--onyxBlack) !important;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* --- IDs --- */


/* --- CLASSES --- */

.primary-link {
  color: black;
  font-family: 'Open Sans';
}
.primary-link:hover {
  color: var(--darkBlue);
}
.primary-link:focus {
  color: var(--darkBlue);
  border-bottom: solid 3px;
  border-image: linear-gradient(to right, var(--darkBlue) 75%, transparent 25%) 100% 1;
  outline: none;
}


.secondary-link {
  color: var(--darkGrey);
  font-family: 'Open Sans';
  font-size: small;
}
.secondary-link:hover, .secondary-link:focus, .secondary-link:active {
  color: black;
  text-decoration: underline;
}
.secondary-link:focus {
  color: black;
  text-decoration-line: underline;
  outline: none;
}

@media (prefers-color-scheme: dark) {
  .primary-link {
    color:white;
  }
  .primary-link:hover, .primary-link:focus, .primary-link:active {
    color: var(--midBlue);
  }

  .secondary-link {
    color: var(--midGrey);
  }
  .secondary-link:hover {
    color: white;
  }
  .secondary-link:focus {
    color: white;
  }
}


/* --- MISC --- */

.tech-logo {
  max-width: none !important; /*stops gradient border being 'cut off'*/
  padding: 0.5rem;
  border-radius: 6px;
  margin: 0.25rem;
  background: var(--almostWhite);
}

@media (prefers-color-scheme: dark) {
  .tech-logo {
    background: var(--onyxBlack);
  }
}

.tech-logo-mobile {
  margin: 0.5rem;
}

.gradient-border {
  border-radius: 12px;
  margin: 2rem;
  background-image: linear-gradient(-45deg, var(--midBlue), var(--midPurple));
  transform: rotate(0deg);
  transition: transform 0.3s ease-out;
}

@media (min-width: 640px) {
  .gradient-border {
    margin: 0.25rem;
  }
}
@media (min-width: 768px) {
  .gradient-border {
    margin: 0.5rem;
  }
}
@media (min-width: 1024px) {
  .gradient-border {
    margin: 1rem;
  }
}
@media (min-width: 1280px) {
  .gradient-border {
    margin: 2rem;
  }
}

.gradient-border:hover {
  transform: rotate(-10deg);
}


/* PROJECTS LAYOUT */

.project-container {
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: solid 2px var(--deepBlue);
  border-radius: 2rem;
  margin: 2rem auto;
  background: rgb(32, 34, 45, 20%);
  transition: all 0.1s;
}
.project-container:hover {
  background: rgb(32, 34, 45, 40%);
}

.container-left {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  left: 0;
}

.container-right {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  right: 0;
}

.project-title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--midBlue);
  text-align: left;
}
.project-title h2 {
  font-size: 1.5rem;
}

.project-title.right {
  right: 2rem;
  padding-right: 1rem;
  text-align: right;
}

.project-cover {
  height: 100%;
  width: 45%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.project-cover img {
  transition: transform 0.2s ease;
}

.project-cover-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, var(--midBlue), var(--darkPurple));
  opacity: 0.15;
  transition: all 0.3s;
}

.project-cover:hover img {
  transform: scale(1.05);
}

.project-description {
  color: black;
  line-height: 1.5;
  text-wrap: pretty;
}

.project-container.left .project-description {
  left: 0;
}
.project-container.right .project-description {
  right: 0;
}

@media (min-width: 768px) {
  .project-description {
    font-size: x-small;
  }
}
@media (min-width: 1024px) {
  .project-description {
    font-size: x-small;
  }
}
@media (min-width: 1280px) {
  .project-description {
    font-size: small;
  }
}

.tech-stack {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  user-select: none;
}

.tech-stack p {
  padding: 0.5rem;
  border-radius: 0.75rem;
  background: var(--deepBlue);
  color: var(--midPurple);
  cursor: default;
}

/* PROJECTS LAYOUT MOBILE */

.project-container-mobile {
  width: 75%;
  position: relative;
  left: 50%;
  background: #fff;
  border-radius: 1rem;
  transform: translateX(-50%);
}

.project-title-mobile {
  margin: 1rem 0;
  text-align: center;
  font-size: x-large;
}

.project-cover-mobile {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.project-cover-overlay-mobile {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-image: linear-gradient(to bottom right, var(--midBlue), var(--darkPurple));
  opacity: 0.3;
  z-index: 1;
  transition: all 0.3s;
}

.project-description-mobile {
  padding: 1rem;
}

/* PROJECTS LAYOUT DARK */

@media (prefers-color-scheme: dark) {
  .project-container-mobile,
  .project-description{
    color: white;
  }
}

/* --- FONTS --- */

@font-face {
  font-family: 'Fira Code';
  src: url('./fonts/FiraCode-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

.font-fira-code {
  font-family: 'Fira Code';
}

.font-open-sans {
  font-family: 'Open Sans';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fira Code';
}

p {
  font-family: 'Open Sans';
}




/* --- ANIMATIONS --- */


/* --- MISC --- */

.smooth-change {
  transition: all 0.1s linear;
}